body, html {
    height: 100%;
}


.image {
    background-image: url(../Assets/banner-image.png);
    width: 100%;
    height: 100vh;   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}